* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: black;
  --stroke: #878787;
  --gray: #ababab;
  --white: white;
  --input-strok: #282828;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  padding: 0px 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header {
  padding: 20px 0;
}
header a {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: var(--black);
}
section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .form {
  width: 50%;
  padding: 41px;
  border: 0.5px solid var(--stroke);
  border-radius: 10px;
}
span {
  display: block;
  margin-bottom: 20px;
  font-weight: 300;
  font-style: 25px;
  line-height: 37.5px;
}
section h1 {
  font-weight: 500;
  font-style: 31px;
  line-height: 46.5px;
}
section p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
}
section form {
  width: 100%;
}
section form label {
  font-size: 16px;
  font-weight: 400;
}
section form input {
  display: block;
  border: 0.6px solid var(--stroke);
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  outline: none;
  border-radius: 6px;
}

section .form .signin{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: none;
}
section form .options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
section form .options label {
  display: inline;
  margin-left: 5px;
}
section  form .options input {
  width: fit-content;
  margin-right: 0;
}
section form .options a {
  font-size: 15px;
  font-weight: 300;
  color: var(--gray);
}
section .have-an-accout {
  color: var(--gray);
}
section .have-an-accout a {
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
}
section form .submit-btn {
  color: var(--white);
  background-color: var(--black);
  font-size: 16px;
  font-weight: 500;
}
